body{
    background-color: rgba(231, 223, 223, 0.289);
}

#mensagem {
    text-align: center;
    transition: font-size ease;
    word-wrap: break-word;
}

#relogio{
    font-size: 50px;
    color: #333333;
}

.caps{
    font-size: 30px;
}