body {
   font-family: Arial, sans-serif;
   background-color: #f0f0f0;
   text-align: center;
   margin: 0;
   padding: 0;
}
#mensagem {
   margin-top: 110px;
   padding: 0 10px;
   font-size: 55px;
   color: #333;
}